body {
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Avenir', sans-serif; 
  color: #33475b;    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1 {
  text-align: center;
}

/* .center { */
/*   line-height: 200px; */
/*   height: 200px; */
/*   border: 3px solid green; */
/*   text-align: center; */
/* } */
/* img { */
/*   display: block; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   width: 40%; */
/* } */
