<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- add simple styles -->
  <style>    
    body {
      margin: auto;
      width: 640px; 
      padding: 50px;
      font-family: 'Avenir', sans-serif; 
      color: #33475b;    
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    h1 {
      text-align: center;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <!-- Jinja2 template -->
  <div class="center">
    <h1>Kuaochella Scavenger Hunt</h1>
    {% if text %}
      <h2>{{ text }}</h2>
    {% endif %}
    {% if image_uri %}
      <img src="{{ image_uri }}" alt="clue image" class="center">
    {% endif %}
  </div>


</body>
</html>
